.root{
    -fx-background: rgb(71, 71, 71);
}

.DarkBgdLabel{
	-fx-text-fill: white;
	-fx-font-size: 20pt;
	-fx-padding: 10pt;
        -fx-stroke-borders: black;
        -fx-background: rgb(127, 127, 127);
}

.DarkTextField{
	-fx-background: rgb(157, 160, 157);
	-fx-border-radius: 50;
	-fx-background-radius: 50;
        /* -fx-opacity: 90 */
        /* -fx-background-color: rgb(76, 76, 76)*/
}

.DarkBgdLabelSmall{
        -fx-text-fill: white;
	-fx-font-size: 10pt;
	-fx-padding: 5pt;
}

.LoguinButton{
    -fx-text-fill: white;
    -fx-font-size: 15pt;
    -fx-background-color: rgb(66, 163, 79);
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.LoguinButton:hover{
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.CloseButton{
    -fx-background-color: rgb(244, 66, 66);
    -fx-border-radius: 120;
    -fx-background-radius: 120;
}

.MinimizeButton{
    -fx-background-color: rgb(244, 208, 65);
    -fx-border-radius: 120;
    -fx-background-radius: 120;
}
